@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
font-family: "Calibri";
// адрес шрифта и тип
src: url("/fonts/calibri_0.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
html,body{padding: 0;margin: 0;font-family: Calibri;}
.container{width: 100%;max-width: 1600px;margin: auto;}
header{
	background-image: url(../img/top_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0 12px 0;
}
header.news{background: none;height: initial;}

/* Шапка сайта */
header .header_menu .left, header .header_menu .right{background: #FFF;width: 42%;height: 90px;position:relative;z-index:2;}
header .header_menu .left{float: left;}
header .header_menu .left:after{content: '';position: absolute;border: 45px solid transparent;border-left: 45px solid #FFF; border-top: 45px solid #FFF;top:0;right:-90px;}
header .header_menu .right:before{content: '';position: absolute;border: 45px solid transparent;border-right: 45px solid #FFF; border-top: 45px solid #FFF;top:0;left:-90px;}
header .header_menu .right{float: right;}
header .header_menu .phone , header .header_menu .menu , header .header_menu .best{display: table-cell;vertical-align: middle;}
header .header_menu .phone{padding: 0 80px 0 50px;color: #053e53}
header .header_menu .best{padding-right: 50px;}
header .header_menu .phone p{margin: 0;font-size: 13px;font-weight: bold;}
header .header_menu .phone p:first-child , header .header_menu .phone p:last-child{font-size: 30px;font-weight: bold;}
header .header_menu .menu div{display: inline-block;padding: 0 20px 0 20px;}
header .header_menu .menu div a{text-decoration: none;color: #053e53;font-size: 20px;font-weight: bold;}
header .header_menu .best{height: 120px;width: 400px;background-image: url('../img/best.png');background-size: 100% 100%;position:absolute;right: 50px;top:-15px;display: flex;}
header .header_menu .best span{margin: auto;text-align: center;font-weight: bold;font-size:30px;padding-left: 50px;color:#053e53;}
header .header_menu .menu{height: 90px;}
header .header_block{position:relative;width: 450px;height:450px;background-image: url('../img/header_block.png');background-size: 100% 100%;margin: auto;}
header .header_block .title{text-align: center;font-weight: bold;font-size: 29px;padding-top: 130px;line-height: 24px;color: #f7db48;margin: 0;text-transform: uppercase;}
header .header_block .description{text-align: center;font-weight: bold;font-size: 24px;text-transform: uppercase;margin: 30px 0 0 0;color: #FFF;}
header .header_block .image{text-align: center;}
header .header_mblock{position:absolute;background-image: url('../img/header_mblock.png');background-size: 100% 100%;height: 930px;text-align: center;display: flex;top:0;width:100%;}
header .header_mblock div{position: absolute;bottom: 150px;color:#FFF;width:150px;}
header .header_mblock div:nth-child(1){left:15.6%;background-image:url('../img/h_icon1.png');background-repeat: no-repeat;background-position: center 0;}
header .header_mblock div:nth-child(2){left:27.8%;background-image:url('../img/h_icon2.png');background-repeat: no-repeat;background-position: center 0;}
header .header_mblock div:nth-child(3){right:27.8%;background-image:url('../img/h_icon3.png');background-repeat: no-repeat;background-position: center 0;}
header .header_mblock div:nth-child(4){right:15.6%;background-image:url('../img/h_icon4.png');background-repeat: no-repeat;background-position: center 0;}
header .header_mblock div p:first-child{text-transform: uppercase;font-size:45px;font-weight: bold;margin:40px 0 0 0;}
header .header_mblock div p:last-child{text-transform: uppercase;font-size:20px;font-weight: bold;margin:0;}
header.news .header_menu .left, header.news .header_menu .right{background: #053e53;width: 42%;height: 90px;position:relative;z-index:2;}
header.news .header_menu .left:after{content: '';position: absolute;border: 45px solid transparent;border-left: 45px solid #053e53; border-top: 45px solid #053e53;top:0;right:-90px;}
header.news .header_menu .right:before{content: '';position: absolute;border: 45px solid transparent;border-right: 45px solid #053e53; border-top: 45px solid #053e53;top:0;left:-90px;}
header.news .header_menu .phone , header.news .header_menu .menu , header.news .header_menu .best{color:#FFF;}
header.news .header_menu .menu div a{color: #FFF;}
header .news_logo{position:relative;top:-30px;display:flex;z-index:3;}
header .gam{display: none;}
header .cert_block{padding: 0;margin:0;background: #FFF;margin:auto;width: 80%;position:relative; padding-top:100px}
header .cert_block .left{width: 20%;display:inline-flex;flex-direction:column;padding:10px;box-sizing:border-box;}
header .cert_block .center{width: 60%;display:inline-flex;flex-direction:column;padding:30px 0 30px 0;vertical-align:bottom;text-align:center;}
header .cert_block .right{width: 20%;display:inline-flex;flex-direction:column;padding:10px;box-sizing: border-box;text-align: right;}
header .cert_block .center .title{width:70%;margin:auto;}
header .cert_block .center .title h1{font-size:40px;text-transform:uppercase;}
header .cert_block .center .text p{font-size:18px;}
header .cert_block .center .text p:last-child a{font-weight: bold;color: #000;text-decoration: none;padding: 10px 40px 10px 40px;background: #ffdc34;transition:0.5s;}
header .cert_block .center .text p:last-child a:hover{background:#ffec8f;}

.mobile_menu{display: none;}

/* Блок контента */
#content{background: #005067;margin-top:30px;color: #FFF;padding: 30px 0 50px 0;}
#content .title , .content .description{text-align: center;}
#content .title{text-transform: uppercase;vertical-align: middle; margin-top:-10px;}
#content .description{width: 50%;margin: auto;text-align:center;font-size:17px;}
.catalog{text-align: center;margin-top:50px;}
.catalog .image{height: 70px;display: flex;}
.catalog .image img{margin: auto;height:45px;position:relative;z-index:2;}
.catalog .item{display: inline-flex;width: 20%;margin: 0 50px 50px 50px;flex-direction: column;position:relative;}
.item .hover{
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.3);
	background-image: url('../img/more.png');
	background-repeat: no-repeat;
	background-position:center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition:0.3s;
}
.item:hover .hover{
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
}
.catalog .item .items div div:first-child{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition:0.3s;
}
.catalog .item:hover .items div div:first-child{
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}

.catalog .item:hover .items div span{background-image: url('../img/icount_hover.png');}
.catalog .image, .catalog .title{background: #f2eee3;}
.catalog .content img{width: 100%;}
.catalog .title{color: #000000;text-transform: uppercase;font-weight: bold;height:80px;display: flex;display: block;}
.catalog .title span{margin: auto;}
.catalog .item .items{position:absolute;top:80px;right:10px;}

.catalog .item .items div div:first-child p{margin-top:3px;}
.catalog .item .items div{display: flex;border-radius:0 2px 2px 0;color:#000;font-weight:bold;}
.catalog .item .items div:last-child{margin-top:10px;}
.catalog .item .items div div{background: #FFF;font-size:15px;height:25px;margin:auto;position:relative;left:20px;padding:0 25px 0 5px;display: flex;}
.catalog .item .items div:last-child div{left:45px;}
.catalog .item .items div div p{margin:auto;}
.catalog .item .items div span{position:relative;z-index:3;display: flex;padding-left:5px;width: 40px;height:35px;background-image: url('../img/icount.png');background-size: 100% 100%;}
.catalog .item .items div span p{margin:auto;font-size:20px;}
.more{text-align: center;}
.more a{padding:20px 40px 20px 40px;text-transform: uppercase;text-decoration:none;background: #f1ede4;color:#777373;}
.news_block{text-align: center;padding-bottom: 30px; padding-top:100px;}
.news_block .title{text-align: center;}
.news_block .title h1{font-size: 30px;text-transform:uppercase;font-weight:bold}
.news_block .news .item{width: 25%;box-shadow:0 2px 5px black;position:relative;display:inline-flex;flex-direction:column;margin:0 50px 80px 50px; vertical-align: top;}
.news_block .news .item .image{height:340px;width:400px;}
.news_block .news .item .title{background:#f7db48;color:#000;font-weight: bold;font-size: 24px;padding: 10px 50px 10px 50px;}
.news_block .news .item .date{background:#f1ede4;padding:10px;position:absolute;top:10px;left:-10px;box-shadow:2px 1px 5px black;padding-left:30px;}
.news_block .news .item .description{padding: 10px;}
.news_block a{text-decoration: none;}


.objects{background: url('../img/objects_bg.png');background-size: 100% 100%;padding: 0 0 50px 0}
.objects.nobg{background:none;}
.objects .objects_catalog{width:95%;margin:auto;text-align:center;}
.objects .objects_catalog .item{width: 25%;box-shadow:0 2px 5px black;position:relative;display:inline-flex;flex-direction:column;margin:0 50px 80px 50px;}
.objects .objects_catalog .item .image{height:340px;width:400px;}
.objects .objects_catalog .item .title{background:#f7db48;padding: 10px 50px 10px 50px;text-transform:uppercase;text-align:center;position:relative;top:-5px;}
.objects .objects_catalog .item .title a{text-decoration:none;color:#000;font-weight: bold;font-size: 16px;}
.objects .objects_catalog .item .date{background:#f1ede4;padding:10px;position:absolute;top:10px;left:-10px;box-shadow:2px 1px 5px black;padding-left:30px;z-index:1;}
.objects .objects_catalog .item .description{padding:10px 40px 10px 40px;text-align:left;}
.objects .objects_catalog .item .description p{margin:10px;}
.objects .objects_catalog .item .phone{background:#f1ede4;text-transform:uppercase;font-size:25px;font-weight:bold;text-align:center;padding:10px 0 10px 0}
.objects .objects_catalog .item .site{background:#005067;font-size:20px;font-weight:bold;text-align:center;padding:10px 0 10px 0;}
.objects .objects_catalog .item .site a{color:#FFF;}
.objects .objects_catalog .content{position:relative;}
.phone_icon{position:absolute;right:0;bottom:30px;background: #f7db48;display: flex;padding: 5px 10px 5px 10px;}
.phone_icon a{margin:auto;display:flex;text-decoration:none;color:#000;font-weight:bold;white-space: nowrap;}
.phone_icon a span{display: none;margin:auto;margin-left:10px;}
.phone_icon a img{margin:auto;}
.objects .objects_catalog .content  img.card_img{width:100%;display: block;}
.content_text{width:70%;margin:auto;}
.content_text .left{display:inline-block;width:50%;}
.content_text .right{display:inline-block;width:40%;}
.content_text ul li{list-style:none;position:relative;}
.content_text ul li:before{content:'';position:absolute;background:url('../img/check.png') no-repeat center center;width:20px;height:20px;background-size:12px 12px;left:-25px;}



.container .action{text-align:center;}
.container .action .img{width:80%;}
p.content_title{display: block;font-size: 2em;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;text-transform:uppercase;text-align:center;}

/* Фильтр по карте */
.map_filter{min-height: 600px;}
.map_filter p.title{text-align: center;text-transform: uppercase;font-weight: bold;font-size: 25px;}
.map_filter .filter{background: #cdc6be;height: 500px;width: 20%;float: left;}
.map_filter .filter .inner{padding: 50px 50px 0 50px;}
.map_filter .filter .inner p:first-child{text-align: center;font-size:20px;}
.map_filter .filter select{padding: 5px;width: 95%;}
.map_filter .filter .filter_row{text-transform: uppercase;font-weight: bold;font-size: 14px;padding-bottom:30px;}
.map_filter .filter .btn{text-align: center;padding-bottom: 30px;}
.map_filter .filter input[type='submit']{background: #ffdb4d;border:1px solid #bdbbbb;padding:10px 30px 10px 30px;text-transform:uppercase;font-weight:bold;font-size:18px;}
.map_filter .map_block{float: right;width: 80%;}

/* Футер */
footer{background: #005067;margin-top:30px;color: #FFF;padding: 30px 0 30px 0;}
footer .footer_menu, footer .logo , footer .footer_phone{display: inline-flex;vertical-align: middle;}
footer .footer_menu, footer .footer_phone{width: 20%;}
footer .logo{width: 59%;}
footer .footer_menu ul{padding:0;margin:0;}
footer .footer_menu ul li{list-style: none;padding:5px 0 5px 0;}
footer .footer_menu ul li a{color: #FFF;text-decoration: none;font-family: Calibri;font-weight: bold;font-size: 18px;}
footer .footer_phone{flex-direction: column;text-align:center;padding-left: 32px;box-sizing: border-box;}
footer .footer_phone p{margin: 5px;text-align:right;font-size:13px;}
footer .footer_phone p:last-child{padding-top:10px;}
footer .footer_phone p:last-child a{font-size: 19px;color: black;text-decoration: none;background: #ffd71d;padding: 10px 40px 10px 40px;font-weight: bold;}
footer .footer_phone .phone{font-size:25px;font-weight: bold;position:relative;}
.icon__phone:before{content: '\f095 '; font-family:'FontAwesome'; position:absolute;width:20px;height:20px;left:-37px;top:1px;}
footer .logo img{margin: auto;}

.mobile{display:none;}
/*.popaction {width: auto;max-width: 100%;min-width: 100%;}*/
.fancybox-overlay-fixed{background: rgba(0,0,0,0.7); position: fixed; top:0;}
.fancybox-inner{height: initial !important;overflow:visible !important;}
.fancybox-opened {z-index: 8030;}
.fancybox-close{width: 40px;height:40px;background-size:cover;position:absolute;top:-10px;right:-10px;}
.popup{background: white;border-radius: 15px;box-shadow: 0 0 5px #525151;padding: 10px 55px 10px 55px;display: none;}
#callback{max-width: 450px;}
#callback .title{text-align: center;text-transform: uppercase;font-weight: bold;font-size: 20px;}
#callback .form_row{margin-top:15px;}
#callback .form_row span:first-child{margin-top:15px;font-weight:bold;}
#callback .form_row:last-child{font-size:12px;text-align:center;}
#callback .form_row:last-child a{color:#33697b}
#callback .form_row.submit{text-align: center;}
#callback input[type='text']{clear: both;width: 100%;padding: 10px 5px 10px 5px;font-style: italic;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:inset 1px 2px 5px #c7c1c1;border:none;position:relative;}
#callback .form_back{position: absolute;right: 5px;width: 200px;top: 55px;}
#callback input[type='submit']{text-align: center;background: #ffe43a;border: none;padding: 10px 30px 10px 30px;font-size: 20px;box-shadow: 0 2px 7px #5a5858;border-radius: 5px;margin-top: 20px;}
#action{padding:20px;text-align:center;}
#action .title{font-size: 25px;text-align: center;font-weight: bold;margin: 10px;}
#action .content .img{width: 1000px	;height: 300px;background: url('../img/p_banner.jpg') no-repeat;background-size:100% 100%;}
.action img:last-child{display: none;}
.objects_catalog.mobile{display:none;}


@media(max-width: 1900px)
{
	header .header_menu .phone{padding:0 50px 0 30px;}
	header .header_menu .menu div{padding: 0 10px 0 10px;}
	header .header_menu .best{right:20px;}
}
@media(max-width: 1650px){header .header_menu .phone{padding:0 30px 0 30px;}}
@media(max-width: 1600px)
{
	header .header_menu .phone{padding:0 20px 0 30px;}
	header .news_logo{left:-15px;}
	header .header_menu .menu div{padding:0 5px 0 5px;}
}
@media(max-width: 1550px)
{
	header .header_menu .left, header .header_menu .right{width:43%;}
	header .header_menu .best{width:330px;}
	header .header_menu .best span{font-size:26px;}
	header .header_menu .phone{padding: 0 20px 0 15px;}
}
@media(max-width: 1500px)
{
	.container{width: 95%;}
	header .header_menu .phone{padding: 0 5px 0 5px;}

}
@media(max-width: 1450px)
{
	header .header_menu .menu div a{font-size:16px;}
	header .header_menu .phone{padding:0 10px 0 10px;}
	header .news_logo{left:15px;top:0;}
	header .news_logo img{width:90%;height:90%;}
	.news_block .news .item .image{width: 100%;height:initial;}
	.news_block .news .item .image img{width: 100%;}
	header .cert_block{top:55px;}
	.action img{max-width: 1000px;}
}
@media(max-width: 1400px)
{
	header .header_menu .left{width:57%;}
	header .header_menu .left:after{display:none;}
	header .header_menu .right:before{display:none;}
	header .header_menu .menu div{padding: 0 90px 0 20px;}
	header.news .header_menu .menu div{padding: 0 5px 0 5px;}
}
@media(max-width: 1300px)
{
	header .header_menu .best{display:none;}
	header .header_menu .right{width:25%;}
	header .header_menu .left{width:75%;}
	header .header_menu .phone{padding: 0 150px 0 10px;}
	header .header_menu .menu div{padding: 0 70px 0 20px;}
	header.news .header_menu .phone{padding: 0 10px 0 10px;}
	header .news_logo{position:absolute;left:50%;}
	.news_block.container{padding-top:100px;}
	header.news .header_menu .left{width:70%;}
	header.news .header_menu .right{width:30%;}
	header.news .header_menu .menu div{padding: 0 40px 0 40px;}
	header.cert .news_logo{display:none;}
}
@media(max-width: 1200px)
{
	header.news .header_menu .menu div{padding: 0 30px 0 30px;}
	.objects{padding: 50px 0 50px 0;}
	.container.cert{padding-top:50px;}
	header .header_menu .phone{padding: 0px 50px 0 10px;}
	header .header_menu .right{width:30%;}
	header .header_menu .left{width:70%;}
	header .header_menu .menu div{padding: 0 40px 0 20px;}
}
@media(max-width: 900px)
{
	header .header_menu .menu div{padding: 0 20px 0 20px;}
	header .header_menu .phone{padding: 0px 10px 0 10px;}
	header .header_menu .right{width:25%;}
	header .header_menu .left{width:75%;}
}
@media(max-width: 800px)
{
	header.cert{height:1550px;}

	header .news_logo{position:static;}
	.news_block.container{padding-top:0;}
	header.news{width:100%;padding:0;margin:0;}
	header .news_logo img{margin:auto;width:60%;height:60%;}
	header .news_logo{left:0;top:-50px;z-index:3	;}
	header.news .header_menu .left{background: url('../img/top_banner.png');background-size:1000px}
	header.cert .news_logo img{width:30%;height:30%;}
	header .cert_block{top:40px;}
	header .cert_block .title img{width:70%;}
	header .cert_block .center{width: 100%;}
	header .cert_block .center .title h1{font-size:30px;}
	header .cert_block .text p:nth-child(3){margin-top:170px;}
	header .cert_block .text p:nth-child(4){margin-top:170px;}
	header .cert_block .left{position:absolute;width:100%;flex-direction:row;top:530px;}
	header .cert_block .right{position:absolute;width:100%;flex-direction:row;top:970px;left:0;}
	header .cert_block .cert{width:30%;display:inline-block;}
	header .cert_block .cert img{width:100%;}
	header .cert_block .cert:last-child{display:none;}
	header .header_menu .best{display: none;}
	header .header_block{top:-65px;width:480px;height:480px;z-index:3;}
	header .header_block .title{font-size:30px;padding-top:85px;}
	header .header_block .description{font-size:20px;margin: 10px 0 0 0}
	header .header_block .image img{width:50%;}
	header .header_menu .right{display: none;}
	header .header_menu .left, header.news .header_menu .left{border: none;width:100%;float:none;}
	header .header_menu .left:after, header.news .header_menu .left:after{border: none;}
	header .header_menu .menu{display: none;}
	header .header_menu .left .phone{float: right;}
	header .header_menu .phone p{display: none;}
	header .header_menu .phone p:first-child, header .header_menu .phone p:last-child{display: block;}
	header .header_menu .phone p:first-child, header .header_menu .phone p:last-child{font-size:25px;}
	header .header_menu .left, header .header_menu .right{height:70px;}
	header.news .header_menu .left, header.news .header_menu .right{height:70px;}
	header .header_mblock{height:700px;top:0;background-image:none;}
	header .header_mblock div{background: url('../img/hmblock.png') no-repeat !important;background-size: 100% 100% !important;width: 200px;height: 200px;}
	header .header_mblock div:nth-child(1){left:0;top:370px;}
	header .header_mblock div:nth-child(2){left:37%;top:500px;}
	header .header_mblock div:nth-child(3){right:0;top:370px;}
	header .header_mblock div:nth-child(4){width:250px;height:250px;right:33%;top:724px;}
	header .header_mblock div p:first-child{font-size:30px;margin:60px 0 0 0;}
	header .header_mblock div p:last-child{font-size:17px;margin:0;}
	header .header_mblock div:last-child p:first-child{font-size:40px;margin:60px 0 0 0;}
	header .header_mblock div:last-child p:last-child{font-size:24px;margin:0;}
	.gam.news{display: block;float:left;width:50px;height:50px;background: url('../img/gam2.png') no-repeat center center;background-size:100% 100%;position:absolute;left:10px;top:50px;z-index:5;}
	.mobile_menu{background: #FFF;position: absolute;z-index: 4;width: 100%;}
	.mobile_menu ul{padding:0;margin:0;}
	.mobile_menu ul li{padding:20px;text-align:center;}
	.mobile_menu ul li a{font-size: 20px;color: #00425a;text-decoration: none;text-transform:uppercase;font-weight:bold;}
	.mobile_menu ul li:hover{background: #ffdd3c;}
	.action img:first-child{display: none;}
	.action img:last-child{display: block;width:100%;}
	.content_text{width:90%;}
	.content_text .left{width:100%;display:block;}
	.content_text .right{width:100%;display:block;}
	.objects .objects_catalog .content a:first-child{display: none;}
	.objects_catalog{display:none;}
	.objects_catalog.mobile{display:block;}
	#content{padding:0 0 50px 0;margin-top:0;}
	#content .seo_block{background: #FFFFFF;color:#003b55;display:flex;flex-direction:column;padding-top:130px;}
	#content .description{width:90%;}
	#content .seo_block .title{order:2;}
	.catalog .item{width:40%;margin:10px 20px 30px 20px;}
	.objects .objects_catalog.mobile .item{width:95%;margin:10px 0 30px 0;}
	.objects .objects_catalog.mobile .item .left{display:inline-flex;vertical-align:middle;flex-direction:column;width:50%;}
	.objects .objects_catalog.mobile .item .right{display:inline-flex;vertical-align:middle;flex-direction:column;width:50%;}
	.objects .objects_catalog .item .date{position:static;padding-left:0;font-size:12px;box-shadow:none;}
	.objects .objects_catalog .item{flex-direction:row;}
	.objects .objects_catalog .item .title{top:0;padding:5px 10px 5px 10px;}
	.objects .objects_catalog .item .description{padding:5px 0 0 10px;}
	.objects .objects_catalog .item .description p{margin:5px;line-height:18px;}
	.objects .objects_catalog .item .description{font-size:12px;}
	.objects .objects_catalog .item .phone{position: absolute;right: 0;bottom: 0;width: 50%;font-size:15px;text-align:left;}
	.objects .objects_catalog .item .phone span{padding-left:20px;}
	.phone_icon{position: absolute;right: -7px;bottom: 5px;background: #f7db48;display: flex;padding: 5px 10px 5px 10px;}
	.objects .objects_catalog .item .title:before{content:'';position:absolute;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-right: 15px solid #f7db48;border-left: 15px solid transparent;width: 0;height: 0;top:0;left:-30px;}

	.more{margin-top:50px;}
	.catalog .item .items div div:first-child{display: block;}
	.catalog .item .items div span {background-image: url(../img/icount_hover.png);}
	.map_filter .filter{width:100%;height:initial;float:none;}
	.map_filter .filter select{padding:15px;}
	.map_filter .map_block{width:100%;float:none;}
	input[type='reset']{padding: 15px 10px 15px 10px;font-size: 17px;}
	.desktop{display:none;}
	.mobile{display:block;}
	.news{width:90%;margin:auto;}
	.news_block .news .item{width:100%;margin:0;}
	.news_block .news .item .image{width:initial;height:initial;}
	.news_block .news .item .image img{width:100%;}


	footer .footer_menu, footer .logo, footer .footer_phone{width: 100%;display: block;}
	footer .container{display: flex;flex-direction:column;}
	footer .footer_phone{order:1;}
	footer .footer_menu{order:2;margin-top:20px;}
	footer .logo{order:3;}
	footer .footer_phone .phone{text-align: center;padding-left:45px;}
	footer .footer_phone p{text-align: center;}
	footer .footer_phone p:last-child{text-align:center;}
	footer .footer_menu ul li{text-align: center;}
	footer .footer_menu ul li a{font-size:20px;}
	footer .logo{text-align:center;margin-top:20px;}
	footer .logo img{width:50%;}
}
@media(max-width: 500px)
{
	.catalog .item{width:80%;margin:10px 0 30px 0;}
	header .header_mblock div:nth-child(4){width:250px;height:250px;right:24%;top:724px;}
	header .header_mblock div:nth-child(2){left:29%;top:500px;}
}
@media(max-width:450px){header .header_block{top:-60px;width:400px;height:400px;z-index:3;}}
@media(max-width:400px)
{
	header .header_block{top:-60px;width:350px;height:350px;z-index:3;}
	header .header_block .title{font-size:25px;}
	header .header_block .description{font-size:18px;}
	header .header_block .image img{width:45%;}
	header .header_menu .phone p:first-child, header .header_menu .phone p:last-child{font-size:20px;line-height:35px;}
	header .header_mblock div{width:180px;height:180px;}
	header .header_mblock div p:first-child{margin:50px 0 0 0;}
	header .header_mblock div p:last-child{font-size:15px;}
	header .header_mblock div:nth-child(4){right:18%;}
	header .header_mblock div:nth-child(2){left:28%;}
}
@media(max-width:350px)
{
	header .header_block{top:-20px;width:300px;height:300px;z-index:3;}
	header .header_block .title{padding-top:45px;}
}


.news_block .news .item .date{z-index:1;}
.header_menu .menu a, .more a, .map_filter .filter input, footer .footer_menu ul li a,footer .footer_phone p:last-child a,header.news .header_menu .menu div a[type='submit'],.news .item .image img, .objects .item img.card_img{transition:0.5s;}
.header_menu .menu a:hover, footer .footer_menu ul li a:hover,header.news .header_menu .menu div a:hover{color:#49bee8;}
.more a:hover{background:#656462;color:#FFF;}
.map_filter .filter input[type='submit']:hover,footer .footer_phone p:last-child a:hover{background:#e8e0be;}
.news .item:hover  .image img , .objects .item:hover  img.card_img{opacity: 0.5;}
.description > p {
	margin: 0;
}
#slider, #slidertest {
	width: 90%;
	min-height: 275px;
	margin: 0 auto;
}
#slider ul li img, #slidertest ul li img {
	margin: 0 auto;
}
.test{

}
#slider .slick-prev:before, #slider .slick-next:before, #slidertest .slick-prev:before, #slidertest .slick-next:before {
	color: black;
}
.slick-active li button:before{
	color: red;
}


.icon__phone {
	position: relative;
}

.stars{
	margin-top: -125px;
}

.stats__inner {
	max-width: 1520px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.stats__col {
	display: flex;
}
.stats__item--inner {
	display: flex;
	flex-direction:column;
	align-items: center;
	padding: 20px;
	position: relative;
}
.stats__item--inner:before {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -90px;
	margin-top: -79px;
	z-index: 1;
	width: 180px;
	height: 180px;
	transform:rotate(45deg);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004a5d+26,005f6e+49 */
	background: rgb(0,74,93); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(0,74,93,1) 26%, rgba(0,95,110,1) 49%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(0,74,93,1) 26%,rgba(0,95,110,1) 49%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(0,74,93,1) 26%,rgba(0,95,110,1) 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a5d', endColorstr='#005f6e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.stats__item {
	padding: 0 20px;
	width: 260px;
}
.stats__pic {
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
	position: relative;
	z-index: 2;
}
.stats__num {
	text-transform: uppercase;
	font-size: 45px;
	font-weight: bold;
	color:#fff;
	position: relative;
	z-index: 2;
}
.stats__name {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color:#fff;
	text-align: center;
	padding: 0 25px;
	position: relative;
	z-index: 2;
}
.fancySelect__title {
	margin-bottom: 10px;
}
.inner__logo {
	width: 100%;
	height: 200px;
	background-size:50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner__logo:before {
	content: '';
	position: absolute;
	width: 180px;
	height: 180px;
	left: 50%;
	top: 50%;
	margin-top: -90px;
	margin-left: -90px;
	background: #fff;
	z-index: 1  ;
	transform: rotate(45deg);
	box-shadow: 0 0 20px #ccc;
}
/*header*/
.header__inner {
	display: flex;
	padding: 11px 0;
}
.header__inner--right {
	padding:5px 30px 5px 0;
}
.header__inner--left {
	padding:5px 0 5px 30px;
}
.header__inner--right, .header__inner--left {
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	position: relative;
}
.fancybox-slide {
	width: 80%;
}
.header__inner--center {
	width: 300px;
	flex-shrink: 0;
	position: relative;
}
.header__inner--left:before {
	content: '';
	position: absolute;
	border-width: 45px;
	border-style: solid;
	border-color:#fff transparent transparent #fff;
	right: -90px;
	top: 0;
	transition:0.3s;
}
.header__inner--right:before {
	content: '';
	position: absolute;
	border-width: 45px;
	border-style: solid;
	border-color:#fff #fff transparent transparent;
	top: 0;
	left: -90px;
	transition:0.3s;
}
.logo__pic {
	/*height: 280px;*/
	z-index: 1;
	position: relative;
}
.phone__num {
	font-size: 30px;
	font-weight: bold;
	color: #053e53;
	text-decoration: none;
	transition:0.3s;
	display: block;
	line-height: 1;
}
.phone__num:hover {
	color:#49bee8;
}
.phone__intro {
	font-size: 13px;
	font-weight: bold;
	color: #053e53;
	line-height: 1;
}
.menu__link {
	text-decoration: none;
	color: #053e53;
	font-size: 20px;
	font-weight: bold;
	transition:0.3s;
	padding: 0 20px;
}
.menu__link:hover {
	color:#49bee8;
}
.header__menu--left {
	margin-left: auto;
	margin-right: -20px;
}
.header__menu--right {
	margin-left: -20px;
}
.header_menu {
	padding-bottom: 100px;
}
.header__banner {
	width: 515px;
	height: 120px;
	background-image: url(../img/best.png);
	background-size: cover;
	position: absolute;
	right: 25px;
	top: -15px;
	font-weight: bold;
	font-size: 30px;
	color: #053e53;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}
.dop__link {
	display: none;
}
.news__img img {
	display: block;
	width: 100%;
}
.fancybox-slide--html .fancybox-content {
	width: 80%;
}
.float-left {
	float: left;
}
@media (max-width: 1730px) {
	.header__banner {
		width: 371px;
		height: 86px;
		font-size: 21px;
		top:-7px;
	}
	.phone__intro {
		font-size: 8.5px;
	}
	.phone__num {
		font-size: 21px;
	}
	.menu__link {
		font-size: 14px;
	}
	.header__inner--left:before {
		border-width: 36px;
		right: -72px;
	}
	.header__inner--right:before {
		border-width: 36px;
		left: -72px;
	}
	.header__inner--center {
		width: 215px;
	}
	header .header_block {
		top:0;
	}
	.inner__logo:before {
		top: 55%;
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	footer .logo img {
		width: 194px;
	}
	footer .footer_menu ul li a {
		font-size: 14px;
	}
	footer .footer_phone .phone {
		font-size: 21px;
	}
	footer .footer_phone p {
		font-size: 10px;
	}
	footer .footer_phone p:last-child a {
		font-size:14px;
	}
}
@media (max-width: 1640px) {
	/*.header__inner--right {*/
		/*width: 40%;*/
	/*}*/
	.d-none {
		display: none;
	}
	/*.dop__link {*/
		/*display: inline-block;*/
	/*}*/
	.header__menu--left {
		margin-right: 0;
	}
	/*.header__inner--right:before,*/
	/*.header__inner--left:before {*/
		/*display: none;*/
	/*}*/
	header .cert_block {
		padding-top: 0;
	}
}
@media (max-width: 1550px) {
	/*.header__banner {*/
		/*width: 330px;*/
		/*font-size:25px;*/
	/*}*/
}
@media (max-width: 1320px) {
	.stats__inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.stats__item {
		margin-bottom: 20px;
	}
}
@media (max-width: 1240px) {
	.header__banner {
		display: none;
	}
	.header__inner--right, .header__inner--center {
		display: none;
	}
	.dop__link {
		display: inline-block;
	}
	.header__inner--left:before,
	.header__inner--right:before {
		display: none;
	}
}
@media (max-width: 950px) {
	.gam {
		display: block;
		float:left;
		width:70px;
		height:70px;
		background: url('../img/gam.png') no-repeat center center;
		background-size:100% 100%;
		position:absolute;
		left:0;
		top:42px;
		z-index:5;
	}
	.header__menu--left {
		display: none;
	}
	.header__contacts {
		margin-left: auto;
		margin-right: 10px;
	}
	.map_filter .filter input[type='submit'] {
		padding: 10px;
	}
}
@media (max-width: 630px) {
	.stats__col {
		flex-direction: column;
	}
	header .cert_block .center .title h1 {
		font-size: 18px;
	}
}
